<!DOCTYPE html>
<html>

  <%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

    <%- include(`../pages/${template}`) %> 

    <%- include("./partials/footer") %>
    
    <%- include("./partials/scripts") %>
  </body>
</html>
